# ignore plz...
.mypy_cache
.vscode
.venv
README.md
LICENSE

# deprecated
archive
src/exts_old
src/old*

# dev files/directories
.git
.gitignore
.pre-commit-config.yaml
/.env.*
!/.env.example
README.md
LICENSE
docker-compose.yaml
.python-version
